@color1: #00a0e9;
@color2: #8edcf5;
@color3: #faeeee;
@color4: #e8f7fd;
@color5: #80a5ab;

@import url('basic.less');
@import url('form.less');
@import url('post-view.less');

.search-form {
}
#wrap > #body {
  form.login {
    .form-login; 
  }
}
#wrap > #body > #container > .posts > form.post-form {
  .form-design2; 
}
.posts > form.search {
  .form-design;
}
.posts > .post {
  .post-view-design;
}
